.link {
  display: inline-flex;
  align-items: center;
  gap: var(--space-sm);
  margin: var(--space-xl) 0 var(--space-lg);
  color: var(--color-primary);
}
.link:hover .label > span {
  text-decoration: underline;
}
@media (max-width: 640px) {
  .link {
    margin: var(--space-lg) 0;
  }
}
