.selector {
  padding: var(--space-sm);
  display: flex;
  gap: var(--space-sm);
  align-items: center;
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  color: var(--color-primary);
  font-size: var(--font-size-md);
}
.selector:focus-within {
  border-color: var(--color-primary);
  box-shadow: var(--shadow-focus);
}
.selector select {
  border: 0;
  outline: 0;
  background: transparent;
  color: var(--color-text);
  font-size: var(--font-size-xs);
  font-weight: 800;
  cursor: pointer;
}
